/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.tree {
float: left;
width: 70px;
height: 50px;
margin-left: 40px;
}

center{
  margin-top: 80px;
  
}

footer{
  margin: 40px 50px 0px 10px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #fafbf5;
}

.saudi {
  width: 490px;
  height: 400px;
  float: right;
  margin: 0 0 1em 1em;
  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 14%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


@media (max-width: 960px) {
  nav ul     { display: block; }
  nav select { display: inline-block; }
}
